*.swp
**.map
static/img/*
**.sass-cache/*
**.sassc
*.js
!static/js/lib/*
old/*
.DS_Store
*.pdf

*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.xwm
*Notes.bib

